# .dockerignore
build/
*.o
*.obj
*.exe
*.out
*.log
*.pyc
__pycache__/
*.ipynb_checkpoints
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.old
*.user
*.cache
*.vscode/
*.idea/
*.vs/
*.gch
*.a
*.so
*.dylib
*.dll
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.bin
*.pdf
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.mp4
*.avi
*.mov
*.mkv
*.csv
*.tsv
*.json
!test_data/data/input_data.json
